<div id="editBlogContainer">
    <h1 class="h1-title">Редактировать статью</h1>
    <div class="form signup" id="formTest">
        <img src="/{{blog.img}}" alt="" class="blogImgEditTest">
        <form action="/edit/{{id}}" method="post">
            <div class="article-details">
                
                <h4 class="article-subtitle">Название статьи</h4>
                <input type="text" name="title" class="article-title-input" value="{{blog.title}}" />
                <input type="hidden" name="id" value="{{id}}">
                <h5 class="article-subtitle">Описание статьи</h5>
                <textarea name="description" cols="30" rows="5"
                    class="article-description-textarea">{{blog.description}}</textarea>
                <h5 class="article-subtitle">Текст статьи</h5>
                <textarea name="text" cols="30" rows="10" class="article-text-textarea">{{blog.text}}</textarea>
                <h5 class="article-category-title">Категории</h5>
                <select name="category" class="article-category-select">
                    <option>JavaScript</option>
                    <option>CSS</option>
                    <option>HTML</option>
                    <option>Разное</option>
                </select>
                <input type="hidden" name="status" id="" value="{{blog.status}}">
                <div class="form-group">
                    <input type="file" id="fileInput" name="image" />
                </div>
            </div>

            <div class="submit-section">
                <input type="submit" name="submit" class="submit-button" value="Добавить" />
            </div>
        </form>
    </div>
</div>