{{#if tokenIsPresent}}
<div class="titleSearchCategory">
    {{#if category}}
    Категория: {{category}}
    {{/if}}
</div>
<div class="container-fluid" id="homeContent">
    {{#each arrBlogs}}
    <div class="home-conteiner">
        <div class="homeConteinerContent">
            <div class="home-title">
                <h5>{{title}}</h5>
            </div>
            <img src="/{{img}}" alt="" class="imgBlog">
            <div class="home-category">
                <p>{{datePublication}}</p>
                <input type="hidden" name="action" value="search">
                <input type="hidden" id="inpCategoryHome" name="category" value="{{category}}">
                <button class="submitCategoryHome">{{category}}</button>
            </div>
            <div class="home-description">
                {{description}}
            </div>
            <div class="descriptionBtn">
                <input type="hidden" name="id" value="{{id}}">

                <button class="readMore"><a href="/blog/{{_id}}">Читать далее -></a> </button>
            </div>
        </div>
    </div>
    {{/each }}
</div>
<div class="pagination"></div>
{{else}}
<div class="main-content">
</div>
<div class="titleSearchCategory">
    {{#if category}}
    Категория: {{category}}
    {{/if}}
    <div class="container-fluid" id="homeContent">
        {{#each arrBlogs}}
        <div class="home-conteiner">
            <div class="homeConteinerContent">
                <div class="home-title">
                    <h5>{{title}}</h5>
                </div>
                <img src="/{{img}}" alt="" class="imgBlog">
                <div class="home-category">
                    <p>{{datePublication}}</p>
                    <input type="hidden" name="action" value="search">
                    <input type="hidden" id="inpCategoryHome" name="category" value="{{category}}">
                    <button class="submitCategoryHome">{{category}}</button>
                </div>
                <div class="home-description">
                    {{description}}
                </div>
                <div class="descriptionBtn">
                    <input type="hidden" name="id" value="{{id}}">
                    <button class="readMore"><a href="/blog/{{_id}}">Читать далее -></a> </button>
                </div>
            </div>
        </div>
        {{/each }}
    </div>
    <div class="pagination"></div>
</div>
{{/if}}
